In [115]:
import os
import pandas as pd

In [116]:
staging_folder = r'F:\finalProjectData\finalprojectData\staging'
prep_folder = r'F:\finalProjectData\finalprojectData\prep'

In [117]:
if not os.path.exists(prep_folder):
    os.makedirs(prep_folder)

In [118]:
file_path=os.path.join(staging_folder,'loaded_job_performance_data.csv')

In [119]:
df_job_perfromance_data=pd.read_csv(file_path)

In [120]:
df_job_perfromance_data.head()

  emp_id          emp_name  no_of_projects  manager_rating  promotion
0  E1110        James Hill               1             3.0          1
1  E3215     Michael Moore              16             4.0          0
2  E3576  Courtney Padilla               2             4.0          0
3  E3887  Michael Harrison               6             5.0          0
4  E3072       Wendy Bauer               2             1.0          0

In [121]:
df_job_perfromance_data.columns

Index(['emp_id', 'emp_name', 'no_of_projects', 'manager_rating', 'promotion'], dtype='object')

In [122]:
df_job_perfromance_data.shape

(5000, 5)

In [123]:
df_job_perfromance_data.isnull().sum()

emp_id              0
emp_name            0
no_of_projects      0
manager_rating    421
promotion           0
dtype: int64

In [124]:
df_job_perfromance_data.dtypes

emp_id             object
emp_name           object
no_of_projects      int64
manager_rating    float64
promotion           int64
dtype: object

In [125]:
df_job_perfromance_data = df_job_perfromance_data.drop_duplicates(subset='emp_id', keep='first')

In [126]:
df_job_perfromance_data['emp_id'] = df_job_perfromance_data['emp_id'].astype('string')
df_job_perfromance_data['emp_name'] = df_job_perfromance_data['emp_name'].astype('string')
df_job_perfromance_data['no_of_projects'] = df_job_perfromance_data['no_of_projects'].astype('Int64')
df_job_perfromance_data['manager_rating'] = df_job_perfromance_data['manager_rating'].astype('Int64')
df_job_perfromance_data['promotion'] = df_job_perfromance_data['promotion'].astype('Int64')

In [127]:
print(df_job_perfromance_data['no_of_projects'].min())
print(df_job_perfromance_data['no_of_projects'].max())

1
30

In [128]:
mean_rating = int(df_job_perfromance_data['manager_rating'].mean())
df_job_perfromance_data['manager_rating'] = df_job_perfromance_data['manager_rating'].fillna(mean_rating)

In [129]:
df_job_perfromance_data.isnull().sum()

emp_id            0
emp_name          0
no_of_projects    0
manager_rating    0
promotion         0
dtype: int64

In [130]:
target_path=os.path.join(prep_folder,'job_performance_prep.csv')
df_job_perfromance_data.to_csv(target_path, index=False)