In [90]:
import pandas as pd
import os

In [135]:
prep_folder = r'F:\finalProjectData\finalprojectData\prep'
reporting_folder=r'F:\finalProjectData\finalprojectData\transform'
emp_skills_data_prep_path = os.path.join(prep_folder, 'emp_skill_data_prep.csv')
emp_data_prep_path=os.path.join(prep_folder,'emp_data_prep.csv')
skills_data_prep_path=os.path.join(prep_folder,'skills_data_prep.csv')
jobperformance_data_prep_path=os.path.join(prep_folder,'job_performance_prep.csv')
training_data_prep_path=os.path.join(prep_folder,'training_data_prep.csv')

In [137]:
df_emp=pd.read_csv(emp_data_prep_path)
df_skills = pd.read_csv(skills_data_prep_path)
df_emp_skills = pd.read_csv(emp_skills_data_prep_path)
df_training = pd.read_csv(training_data_prep_path)
df_job_performance=pd.read_csv(jobperformance_data_prep_path)

skill count per employee

In [138]:
no_of_skills_per_employee = df_emp_skills.groupby(['emp_id','emp_name']).size().reset_index(name='no_of_skills')

In [142]:
print(no_of_skills_per_employee)

     emp_id          emp_name  no_of_skills
0      E001      Sharon Burns             2
1      E002    Hannah Sanchez             1
2      E003      Larry Waters             1
3      E005         John Cook             2
4      E006        Keith Webb             2
...     ...               ...           ...
3379   E994      Colleen Shea             2
3380   E995  Cassandra Morris             4
3381   E996       Mark Ramsey             1
3382   E998   Stacie Mcintyre             2
3383   E999   Michael Sanchez             1

[3384 rows x 3 columns]

In [143]:
target_path=os.path.join(reporting_folder,'count_of_skills_per_emp.csv')
no_of_skills_per_employee.to_csv(target_path,index=False)

Top project score and hackerrank score in each training and the employee who secured it

In [144]:
top_project_scores = df_training.loc[df_training.groupby('T_name')['project_score'].idxmax()][['T_name', 'project_score', 'emp_name']]

In [145]:
top_hackerrank_scores = df_training.loc[df_training.groupby('T_name')['hackerrank_score'].idxmax()][['T_name', 'hackerrank_score', 'emp_name']]

In [146]:
top_project_scores.rename(columns={'project_score': 'top_project_score', 'emp_name': 'top_project_emp'}, inplace=True)
top_hackerrank_scores.rename(columns={'hackerrank_score': 'top_hackerrank_score', 'emp_name': 'top_hackerrank_emp'}, inplace=True)

In [147]:
df_top_scores = pd.merge(top_project_scores, top_hackerrank_scores, on='T_name')
df_top_scores.head()

,T_name,top_project_score,top_project_emp,top_hackerrank_score,top_hackerrank_emp
0,Advanced Data Visualization,100,Scott Payne,100,Nicole Scott
1,Advanced JavaScript,100,Michael Beltran,100,Christopher Garrett
2,Business Process Management,99,Matthew Kramer,100,Charles Henderson
3,Client Relationship Management,99,Claudia Miranda,100,Edward Rogers
4,Consulting Essentials,100,Christopher Lee,100,Rebecca Adams

In [149]:
target_path=os.path.join(reporting_folder,'top_scores_byTraining.csv')
df_top_scores.to_csv(target_path,index=False)

Count of employees gained skill in each category

In [103]:
df_merged_empskill_skill = pd.merge(df_emp_skills, df_skills[['skill_id', 'skill_name', 'skill_category']], on='skill_id')

In [104]:
employee_count_per_skill_category = df_merged_empskill_skill.groupby('skill_category')['emp_id'].nunique().reset_index()

In [105]:
employee_count_per_skill_category.columns = ['Skill Category', 'Employee Count']

# Display the resulting DataFrame
print(employee_count_per_skill_category)

  Skill Category  Employee Count
0     consulting            1609
1           data            1539
2     full_stack            1619

In [150]:
target_path=os.path.join(reporting_folder,'employee_count_per_skill_category.csv')
employee_count_per_skill_category.to_csv(target_path,index=False)

Employees whose manager rating is greater than or equal to 4

In [106]:
df_high_rated_employees = df_job_performance[df_job_performance['manager_rating'] >= 4]

# Select relevant columns to display
df_high_rated_employees = df_high_rated_employees[['emp_id', 'emp_name', 'manager_rating']]

# Display the filtered DataFrame
print(df_high_rated_employees)

     emp_id          emp_name  manager_rating
1     E3215     Michael Moore               4
2     E3576  Courtney Padilla               4
3     E3887  Michael Harrison               5
7      E943   Christina Brown               4
14    E3724     Charles Green               5
...     ...               ...             ...
3128  E1121      Dawn Fischer               5
3130  E4474    Jasmine Wilson               5
3133  E1329   Daniel Williams               5
3135  E4783    Kenneth Strong               4
3141  E4203      Jessica Carr               4

[1126 rows x 3 columns]

In [151]:
target_path=os.path.join(reporting_folder,'high_rated_employees.csv')
df_high_rated_employees.to_csv(target_path,index=False)

No.of.employees having certifications in each skill

In [114]:
df_certified_employees = df_emp_skills[df_emp_skills['certifications'] == 'Yes']

In [115]:
certification_counts = df_certified_employees.groupby('skill_name')['emp_id'].count().reset_index()

In [116]:
certification_counts.columns = ['skill_name', 'no_of_employees_with_certifications']

In [117]:
certification_counts.head()

           skill_name  no_of_employees_with_certifications
0            Big Data                                  152
1   Client Management                                  178
2   Consulting Basics                                  202
3  Data Visualization                                  189
4              Docker                                  188

In [152]:
target_path=os.path.join(reporting_folder,'certification_counts.csv')
certification_counts.to_csv(target_path,index=False)

Average project score in each training

In [118]:
avg_project_score = df_training.groupby('T_name')['project_score'].mean().reset_index()

In [119]:
avg_project_score.columns = ['training_name', 'avg_project_score']

In [120]:
avg_project_score.head()

                    training_name  avg_project_score
0     Advanced Data Visualization          37.305155
1             Advanced JavaScript          37.773224
2     Business Process Management          38.064378
3  Client Relationship Management          34.845850
4           Consulting Essentials          36.127413

In [153]:
target_path=os.path.join(reporting_folder,'avg_project_score_byTraining.csv')
avg_project_score.to_csv(target_path,index=False)

employees with more than 15 years of experience in each department

In [127]:
filtered_employees = df_emp[df_emp['experience'] > 15][['emp_name', 'department','experience']]

In [128]:
filtered_employees.reset_index(drop=True, inplace=True)

In [129]:
filtered_employees.head()

            emp_name   department  experience
0    Nicholas Miller        Sales          20
1        Angela West      Finance          20
2  Benjamin Johnston    Marketing          20
3       Felicia Case        Sales          20
4        Dylan Beard  Engineering          20

In [154]:
target_path=os.path.join(reporting_folder,'high_experience_emp.csv')
filtered_employees.to_csv(target_path,index=False)

count of employees completed or not completed each training

In [130]:
completed_counts = df_training.groupby('T_name')['completed'].value_counts().unstack(fill_value=0)

In [131]:
completed_counts.columns = ['count_of_employees_completed', 'count_of_employees_not_completed']

In [132]:
completed_counts.reset_index(inplace=True)

In [133]:
completed_counts.head()

,T_name,count_of_employees_completed,count_of_employees_not_completed
0,Advanced Data Visualization,242,243
1,Advanced JavaScript,171,195
2,Business Process Management,120,113
3,Client Relationship Management,125,128
4,Consulting Essentials,133,126

In [155]:
target_path=os.path.join(reporting_folder,'completed_count_byTraining.csv')
completed_counts.to_csv(target_path,index=False)

count of employees having proficiency greater than 7

In [157]:
proficient_employees = df_emp_skills[df_emp_skills['proficiency_level'] > 7]

In [158]:
skill_counts = proficient_employees.groupby('skill_name')['emp_id'].count().reset_index()

In [159]:
skill_counts.columns = ['skill_name', 'count_of_employees_with_proficiency_above_7']

In [160]:
skill_counts.head()

           skill_name  count_of_employees_with_proficiency_above_7
0            Big Data                                          120
1   Client Management                                          121
2   Consulting Basics                                          125
3  Data Visualization                                          113
4              Docker                                          103

In [161]:
target_path=os.path.join(reporting_folder,'hig_proficiency.csv')
skill_counts.to_csv(target_path,index=False)