In [65]:
#importing libraries
import os
import pandas as pd

In [66]:
staging_folder = r'C:\Users\JenishaE\Documents\finalDE\finalProject-Data\staging'
prep_folder = r'C:\Users\JenishaE\Documents\finalDE\finalProject-Data\prep'

In [67]:
if not os.path.exists(prep_folder):
    os.makedirs(prep_folder)

In [68]:
#path of the file
file_path=os.path.join(staging_folder,'loaded_job_performance_data.csv')

In [69]:
# converting the file into dataframe
df_job_perfromance_data=pd.read_csv(file_path)

In [70]:
df_job_perfromance_data.head()

  emp_id         emp_name  no_of_projects  manager_rating  promotion
0   E001     Sharon Burns              28             5.0          0
1   E002   Hannah Sanchez              20             5.0          0
2   E003     Larry Waters               2             2.0          0
3   E004  Angela Delacruz               8             1.0          1
4   E005        John Cook               9             5.0          0

In [71]:
#cols
df_job_perfromance_data.columns

Index(['emp_id', 'emp_name', 'no_of_projects', 'manager_rating', 'promotion'], dtype='object')

In [72]:
#no.of.rows and cols
df_job_perfromance_data.shape

(5000, 5)

In [73]:
#no.of.null values in each col
df_job_perfromance_data.isnull().sum()

emp_id              0
emp_name            0
no_of_projects      0
manager_rating    467
promotion           0
dtype: int64

In [74]:
#datatype
df_job_perfromance_data.dtypes

emp_id             object
emp_name           object
no_of_projects      int64
manager_rating    float64
promotion           int64
dtype: object

In [75]:
df_job_perfromance_data.shape

(5000, 5)

In [76]:
#removing the duplicates based on emp_id
df_job_perfromance_data = df_job_perfromance_data.drop_duplicates(subset='emp_id', keep='first')

In [77]:
df_job_perfromance_data.shape

(5000, 5)

In [78]:
#changing the data types
df_job_perfromance_data['emp_id'] = df_job_perfromance_data['emp_id'].astype('string')
df_job_perfromance_data['emp_name'] = df_job_perfromance_data['emp_name'].astype('string')
df_job_perfromance_data['no_of_projects'] = df_job_perfromance_data['no_of_projects'].astype('Int64')
df_job_perfromance_data['manager_rating'] = df_job_perfromance_data['manager_rating'].astype('Int64')
df_job_perfromance_data['promotion'] = df_job_perfromance_data['promotion'].astype('Int64')

In [79]:
print(df_job_perfromance_data['no_of_projects'].min())
print(df_job_perfromance_data['no_of_projects'].max())

1
30

In [80]:
# filling the null values in manger rating col by using mean value
mean_rating = int(df_job_perfromance_data['manager_rating'].mean())
df_job_perfromance_data['manager_rating'] = df_job_perfromance_data['manager_rating'].fillna(mean_rating)

In [81]:
df_job_perfromance_data.isnull().sum()

emp_id            0
emp_name          0
no_of_projects    0
manager_rating    0
promotion         0
dtype: int64

In [82]:
#moving the cleaned file to prep folder
target_path=os.path.join(prep_folder,'job_performance_prep.csv')
df_job_perfromance_data.to_csv(target_path, index=False)

In [83]:
df_job_perfromance_data.shape

(5000, 5)