In [25]:
import os
import pandas as pd

In [26]:
staging_folder = r'C:\Users\JenishaE\Documents\finalDE\finalProject-Data\staging'
prep_folder = r'C:\Users\JenishaE\Documents\finalDE\finalProject-Data\prep'

In [27]:
if not os.path.exists(prep_folder):
    os.makedirs(prep_folder)

In [28]:
file_path=os.path.join(staging_folder,'loaded_skills_data.csv')

In [29]:
df_skills_data=pd.read_csv(file_path)

In [30]:
df_skills_data.head()

  skill_id  skill_name skill_category
0     S001  JavaScript     full_stack
1     S002       React     full_stack
2     S003     Node.js     full_stack
3     S004      Docker     full_stack
4     S005    HTML/CSS     full_stack

In [31]:
df_skills_data.columns

Index(['skill_id', 'skill_name', 'skill_category'], dtype='object')

In [32]:
df_skills_data.shape

(15, 3)

In [33]:
df_skills_data.isnull().sum()

skill_id          0
skill_name        0
skill_category    0
dtype: int64

In [34]:
df_skills_data.dtypes

skill_id          object
skill_name        object
skill_category    object
dtype: object

In [35]:
df_skills_data['skill_id'] = df_skills_data['skill_id'].astype('string')
df_skills_data['skill_name'] = df_skills_data['skill_name'].astype('string')
df_skills_data['skill_category'] = df_skills_data['skill_category'].astype('string')

In [36]:
df_skills_data.dtypes

skill_id          string[python]
skill_name        string[python]
skill_category    string[python]
dtype: object

In [37]:
df_skills_data = df_skills_data.drop_duplicates(subset=['skill_id'], keep='first')

In [38]:
df_skills_data.shape

(15, 3)

In [39]:
target_path=os.path.join(prep_folder,'skills_data_prep.csv')
df_skills_data.to_csv(target_path, index=False)