In [18]:
#importing libraries
import os
import pandas as pd

In [19]:
staging_folder = r'C:\Users\JenishaE\Documents\finalDE\finalProject-Data\staging'
prep_folder = r'C:\Users\JenishaE\Documents\finalDE\finalProject-Data\prep'

In [20]:
if not os.path.exists(prep_folder):
    os.makedirs(prep_folder)

In [21]:
#path of the file
file_path=os.path.join(staging_folder,'loaded_training.csv')

In [22]:
#converting csv files to data frame
df_training_data=pd.read_csv(file_path)

In [23]:
df_training_data.head()

,emp_id,emp_name,T_id,T_name,project_score,hackerrank_score,completed
0,E2082,Laurie Jones,T001,SQL Mastery,18,32,0
1,E467,Brooke Griffin,T002,React and Redux,32,8,0
2,E261,Kylie Moran,T003,Business Process Management,23,83,1
3,E699,John Beck,T004,Client Relationship Management,37,24,1
4,E3749,Paul Henderson,T005,Full-Stack Web Development,18,72,1

In [24]:
#print all the cols
df_training_data.columns

Index(['emp_id', 'emp_name', 'T_id', 'T_name', 'project_score',
       'hackerrank_score', 'completed'],
      dtype='object')

In [25]:
#no.of.rows and cols
df_training_data.shape

(5500, 7)

In [26]:
#null values in each col
df_training_data.isnull().sum()

emp_id              0
emp_name            0
T_id                0
T_name              0
project_score       0
hackerrank_score    0
completed           0
dtype: int64

In [27]:
#data type of the cols
df_training_data.dtypes

emp_id              object
emp_name            object
T_id                object
T_name              object
project_score        int64
hackerrank_score     int64
completed            int64
dtype: object

In [28]:
#converting the data type
df_training_data['emp_id'] = df_training_data['emp_id'].astype('string')
df_training_data['emp_name'] = df_training_data['emp_name'].astype('string')
df_training_data['T_id'] = df_training_data['T_id'].astype('string')
df_training_data['T_name'] = df_training_data['T_name'].astype('string')
df_training_data['project_score'] = df_training_data['project_score'].astype('Int64')
df_training_data['hackerrank_score'] = df_training_data['hackerrank_score'].astype('Int64')
df_training_data['completed'] = df_training_data['completed'].astype('Int64')

In [29]:
#droping the duplicate rows based on emp_id and training_id
f_training_data = df_training_data.drop_duplicates(subset=['emp_id', 'T_id'])

In [30]:
df_training_data.shape

(5273, 7)

In [31]:
#moving the cleaned file to prep layer
target_path=os.path.join(prep_folder,'training_data_prep.csv')
df_training_data.to_csv(target_path, index=False)