In [244]:
import pandas as pd
import os

In [245]:
prep_folder = r'C:\Users\JenishaE\Documents\finalDE\finalProject-Data\prep'
reporting_folder=r'C:\Users\JenishaE\Documents\finalDE\finalProject-Data\reporting'

In [246]:
emp_skills_data_prep_path = os.path.join(prep_folder, 'emp_skill_data_prep.csv')
emp_data_prep_path=os.path.join(prep_folder,'emp_data_prep.csv')
skills_data_prep_path=os.path.join(prep_folder,'skills_data_prep.csv')
jobperformance_data_prep_path=os.path.join(prep_folder,'job_performance_prep.csv')
training_data_prep_path=os.path.join(prep_folder,'training_data_prep.csv')

In [247]:
df_emp=pd.read_csv(emp_data_prep_path)
df_skills = pd.read_csv(skills_data_prep_path)
df_emp_skills = pd.read_csv(emp_skills_data_prep_path)
df_training = pd.read_csv(training_data_prep_path)
df_job_performance=pd.read_csv(jobperformance_data_prep_path)

In [262]:
df_emp.dtypes

emp_id               object
emp_name             object
department           object
designation          object
DOJ                  object
age                   int64
experience            int64
salary              float64
no_of_promotions      int64
education            object
dtype: object

Employee Dimension Table

In [248]:
emp_dim=df_emp

In [249]:
emp_dim.head()

,emp_id,emp_name,department,designation,DOJ,age,experience,salary,no_of_promotions,education
0,E001,Sharon Burns,Finance,Senior Developer,2006-11-22,45,11,95402.0,1,Bachelors
1,E002,Hannah Sanchez,Finance,Senior Developer,2010-02-25,41,11,89438.0,3,Masters
2,E003,Larry Waters,Marketing,Senior Developer,2019-10-19,44,11,91396.0,2,Masters
3,E004,Angela Delacruz,Sales,Junior Developer,2014-08-27,24,2,23081.0,0,Bachelors
4,E005,John Cook,HR,Junior Developer,2009-11-20,24,2,22370.0,0,Masters

In [250]:
emp_dim.shape

(5000, 10)

In [251]:
target_path=os.path.join(reporting_folder,'emp_dim.csv')
emp_dim.to_csv(target_path,index=False)

skill dimension table

In [252]:
skill_dim=df_skills

In [253]:
skill_dim.head()

  skill_id  skill_name skill_category
0     S001  JavaScript     full_stack
1     S002       React     full_stack
2     S003     Node.js     full_stack
3     S004      Docker     full_stack
4     S005    HTML/CSS     full_stack

In [254]:
skill_dim.shape

(15, 3)

In [255]:
target_path=os.path.join(reporting_folder,'skill_dim.csv')
skill_dim.to_csv(target_path,index=False)

Training dimension Table

In [81]:
training_dim = df_training[['T_id', 'T_name']]

# Remove duplicates to ensure unique entries
training_dim = training_dim.drop_duplicates()

# Reset the index for better readability (optional)
training_dim.reset_index(drop=True, inplace=True)

# Sort the training dimension by T_id
training_dim.sort_values(by='T_id', inplace=True)

# Display the resulting training dimension table
print(training_dim)

    T_id                              T_name
0   T001                         SQL Mastery
1   T002                     React and Redux
2   T003         Business Process Management
3   T004      Client Relationship Management
4   T005          Full-Stack Web Development
5   T006                  Financial Modeling
6   T007             Machine Learning Basics
7   T008               Data Science Bootcamp
8   T009                  DevOps with Docker
9   T010                 Node.js Masterclass
10  T011               Consulting Essentials
11  T012                 Advanced JavaScript
12  T013         Advanced Data Visualization
13  T014            Python for Data Analysis
14  T015  Project Management for Consultants

In [82]:
training_dim.shape

(15, 2)

In [256]:
target_path=os.path.join(reporting_folder,'training_dim.csv')
training_dim.to_csv(target_path,index=False)

Job performance dimension table

In [257]:
job_performance_dim = df_job_performance[['emp_id', 'no_of_projects', 'manager_rating', 'promotion']]

In [259]:
job_performance_dim.sort_values(by='emp_id', inplace=True)

# Display the resulting job performance dimension table
job_performance_dim.head()

C:\Users\JenishaE\AppData\Local\Temp\ipykernel_8460\2855875583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_performance_dim.sort_values(by='emp_id', inplace=True)

  emp_id  no_of_projects  manager_rating  promotion
0   E001              28               5          0
1   E002              20               5          0
2   E003               2               2          0
3   E004               8               1          1
4   E005               9               5          0

In [260]:
target_path=os.path.join(reporting_folder,'job_performance_dim.csv')
job_performance_dim.to_csv(target_path,index=False)

Employee skill fact table

In [263]:
emp_skill_fact=df_emp_skills[['emp_id','skill_id','proficiency_level','no_of_projects_done_in_that_skill','certifications']]

In [264]:
emp_skill_fact.head()

,emp_id,skill_id,proficiency_level,no_of_projects_done_in_that_skill,certifications
0,E747,S013,3,4,No
1,E1625,S006,5,2,Yes
2,E4373,S002,7,6,Yes
3,E565,S012,7,9,No
4,E3652,S004,9,8,No

In [265]:
target_path=os.path.join(reporting_folder,'emp_skill_fact.csv')
emp_skill_fact.to_csv(target_path,index=False)

Employee Training Performance Fact Table

In [266]:
emp_training_performance_fact=df_training[['emp_id','T_id','project_score','hackerrank_score','completed']]

In [267]:
emp_training_performance_fact.head()

  emp_id  T_id  project_score  hackerrank_score  completed
0  E2082  T001             18                32          0
1   E467  T002             32                 8          0
2   E261  T003             23                83          1
3   E699  T004             37                24          1
4  E3749  T005             18                72          1

In [268]:
emp_training_performance_fact.shape

(5500, 5)

In [269]:
target_path=os.path.join(reporting_folder,'emp_training_performance_fact.csv')
emp_training_performance_fact.to_csv(target_path,index=False)